<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Kristjan Petersell</title>
</head>
<body>
	<img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1>Kristjan Petersell</h1>
	<p>See veebileht on valminud <a href="https://www.tlu.ee" target="_blank">TLÜ</a> Digitehnoloogiate intituudi informaatika eriala õppetöö raames.</p>
	<hr>
	<ul>
		<li><a href="/timenow">Aeg praegu</a></li>
		<li><a href="/wisdom">Vanasõnad</a></li>
	</ul>
	<hr>
	<p>Aitäh tungimast!</p>
</body>
</html>